.main{
    height: 100vh;
    background-color:#d5e1ef;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{
    height: 400px;
    width: 260px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Qrcode{
    width: 90%;
    border-radius: 10px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    flex-direction: column;
    gap: 10px;
    

}
.heading{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: #25334d;
    font-size: 18px;
    
    
}
.paragraph{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: hsl(220, 15%, 55%)
}

@media only screen and (max-width: 600px) {
   
   .card {
       height: 430px;
       width:280px;
   }
   .text{
    margin:20px 30px;
   }
}